<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Manage Event</strong>
      </c-card-header>
      <c-card-body>
        <form cForm>
          <div class="mb-3">
          <label cLabel for="exampleFormControlInput1">Event Name</label>
          <input cFormControl
                     id=""
                     placeholder="Event name"
                     type="text"
              />
          </div>
          <div class="mb-3">
            <label cLabel for="exampleFormControlInput1">Contact Email</label>
            <input cFormControl
                       id=""
                       placeholder="Contact Email"
                       type="email"
                />
            </div>
          <div class="mb-3 col-4">
            <label cLabel for="exampleFormControlInput1">Start Date</label>
            <input cFormControl
                       id=""
                       placeholder="date"
                       type="date"
                />
            </div>
            <div class="mb-3 col-4">
              <label cLabel for="exampleFormControlInput1">Closing Date</label>
              <input cFormControl
                         id=""
                         placeholder="date"
                         type="date"
                  />
              </div>
          <div class="mb-3">
          <label cLabel for="exampleFormControlTextarea1">Event Description</label>
          <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
