<div class="fade-in">
  <c-row ngPreserveWhitespaces>
    <c-col class="mb-4" xs="12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" class="float-right">Add New Category</button>
        </div>  
    </c-col>
    <c-col class="mb-4" xs="12">
      <c-card>
        <c-card-header>
          <strong>Award Categories</strong>
        </c-card-header>
        <c-card-body>
          <table [striped]="true" cTable>
            <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Prefix</th>
            <th scope="col">Limit of Submission</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Wild Life</td>
            <td>WL</td>
            <td>1000</td>
            <td>03/05/2022</td>
            <td>03/08/2022</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Black & White</td>
            <td>BW</td>
            <td>2000</td>
            <td>03/05/2022</td>
            <td>03/08/2022</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Landscape</td>
            <td>L</td>
            <td>5000</td>
            <td>03/05/2022</td>
            <td>03/08/2022</td>
            </tr>
            </tbody>
            </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
